@model Police_Station.Models.CaseApplication

@{
    ViewData["Title"] = "Details";
}


<div class="card row col-lg-8 mx-auto mt-3">
    <h1 class=" card-header alert alert-info">Case Application Details</h1>
    <div class="card-body mx-4">

        <div class="row mb-2">
            <div class="col-2">
                <b>@Html.DisplayNameFor(model => model.VictimName) :</b>
            </div>
            <div class="col-5">
                @Html.DisplayFor(model => model.VictimName)
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <b>@Html.DisplayNameFor(model => model.VictimAge) :</b>
            </div>
            <div class="col-5">
                @Html.DisplayFor(model => model.VictimAge)
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <b>@Html.DisplayNameFor(model => model.VictimAddress) :</b>
            </div>
            <div class="col-5">
                @Html.DisplayFor(model => model.VictimAddress)
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <b>@Html.DisplayNameFor(model => model.VictimProfession) :</b>
            </div>
            <div class="col-5">
                @Html.DisplayFor(model => model.VictimProfession)
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <b>@Html.DisplayNameFor(model => model.VictimGender) :</b>
            </div>
            <div class="col-5">
                @Html.DisplayFor(model => model.VictimGender)
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <b>@Html.DisplayNameFor(model => model.VictimMaritalStatus)</b>
            </div>
            <div class="col-5">
                @Html.DisplayFor(model => model.VictimMaritalStatus)
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <b>@Html.DisplayNameFor(model => model.VictimNID) :</b>
            </div>
            <div class="col-5">
                @Html.DisplayFor(model => model.VictimNID)
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <b>@Html.DisplayNameFor(model => model.VictimPhoneNo) :</b>
            </div>
            <div class="col-5">
                @Html.DisplayFor(model => model.VictimPhoneNo)
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <b>@Html.DisplayNameFor(model => model.CrimeSpot) :</b>
            </div>
            <div class="col-5">
                @Html.DisplayFor(model => model.CrimeSpot)
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <b>@Html.DisplayNameFor(model => model.SuspectName) :</b>
            </div>
            <div class="col-5">
                @Html.DisplayFor(model => model.SuspectName)
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <b>@Html.DisplayNameFor(model => model.SuspectAge) :</b>
            </div>
            <div class="col-5">
                @Html.DisplayFor(model => model.SuspectAge)
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <b>@Html.DisplayNameFor(model => model.SuspectAddress) :</b>
            </div>
            <div class="col-5">
                @Html.DisplayFor(model => model.SuspectAddress)
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <b>@Html.DisplayNameFor(model => model.SuspectGender) :</b>
            </div>
            <div class="col-5">
                @Html.DisplayFor(model => model.SuspectGender)
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <b>@Html.DisplayNameFor(model => model.SuspectProfession) :</b>
            </div>
            <div class="col-5">
                @Html.DisplayFor(model => model.SuspectProfession)
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <b>@Html.DisplayNameFor(model => model.SuspectPhoneNo) :</b>
            </div>
            <div class="col-5">
                @Html.DisplayFor(model => model.SuspectPhoneNo)
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <b>@Html.DisplayNameFor(model => model.WitnessName) :</b>
            </div>
            <div class="col-5">
                @Html.DisplayFor(model => model.WitnessName)
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <b>@Html.DisplayNameFor(model => model.WitnessAge) :</b>
            </div>
            <div class="col-5">
                @Html.DisplayFor(model => model.WitnessAge)
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <b>@Html.DisplayNameFor(model => model.WitnessAddress) :</b>
            </div>
            <div class="col-5">
                @Html.DisplayFor(model => model.WitnessAddress)
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <b>@Html.DisplayNameFor(model => model.WitnessGender) :</b>
            </div>
            <div class="col-5">
                @Html.DisplayFor(model => model.WitnessGender)
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <b>@Html.DisplayNameFor(model => model.WitnessProfession) :</b>
            </div>
            <div class="col-5">
                @Html.DisplayFor(model => model.WitnessProfession)
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <b>@Html.DisplayNameFor(model => model.WitnessPhoneNo) :</b>
            </div>
            <div class="col-5">
                @Html.DisplayFor(model => model.WitnessPhoneNo)
            </div>
        </div>


    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-start">
            <a asp-action="Index" class="btn btn-link btn-sm text-decoration-none"><i class="fa fa-arrow-circle-left"></i> Back to List</a>
            <a asp-action="Edit" asp-route-id="@Model.CaseApplicationId" class="btn btn-warning btn-sm me-2"><i class="fa fa-edit"></i> Edit</a>
            <a asp-action="Delete" asp-route-id="@Model.CaseApplicationId" class="btn btn-danger btn-sm me-2"><i class="fa fa-trash"></i> Delete</a>
        </div>
    </div>
</div>