@model Police_Station.Models.PrisonRecord

@{
    ViewData["Title"] = "Details";
}



<div class="card row col-lg-8 mx-auto mt-3">
    <h1 class=" card-header alert alert-info">Prison Records Details</h1>
    <div class="card-body mx-4">

        <div class="row mb-2">
            <div class="col-3">
                <b>Criminal Name :</b>
            </div>
            <div class="col-5">
                @Html.DisplayFor(model => model.Criminal.Name)
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-3">
                <b>@Html.DisplayNameFor(model => model.Prison) :</b>
            </div>
            <div class="col-5">
                @Html.DisplayFor(model => model.Prison.PrisonName)
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-3">
                <b>@Html.DisplayNameFor(model => model.EntryDate) :</b>
            </div>
            <div class="col-5">
                @Html.DisplayFor(model => model.EntryDate)
            </div>
        </div>
        
        <div class="row mb-2">
            <div class="col-3">
                <b>@Html.DisplayNameFor(model => model.ReleaseDate) :</b>
            </div>
            <div class="col-5">
                @Html.DisplayFor(model => model.ReleaseDate)
            </div>
        </div>
            
        <div class="row mb-2">
            <div class="col-3">
                <b>@Html.DisplayNameFor(model => model.ReasonForImprisonment) :</b>
            </div>
            <div class="col-5">
                @Html.DisplayFor(model => model.ReasonForImprisonment)
            </div>
        </div>
        
        <div class="row mb-2">
            <div class="col-3">
                <b>@Html.DisplayNameFor(model => model.Status) :</b>
            </div>
            <div class="col-5">
                @Html.DisplayFor(model => model.Status)
            </div>
        </div>



    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-start">
            <a asp-action="Index" class="btn btn-link btn-sm text-decoration-none"><i class="fa fa-arrow-circle-left"></i> Back to List</a>
            <a asp-action="Edit" asp-route-id="@Model.PrisonRecordId" class="btn btn-warning btn-sm me-2"><i class="fa fa-edit"></i> Edit</a>
            <a asp-action="Delete" asp-route-id="@Model.PrisonRecordId" class="btn btn-danger btn-sm me-2"><i class="fa fa-trash"></i> Delete</a>
        </div>
    </div>
</div>